.button {
  display: block;
  font-family: $font-alt;
  color: $basic-white;
  background-color: $basic-green;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  padding: 10px 12px;

  @media (min-width: $tablet-min-width) {
    padding: 10px 12px 9px;
  }

  &:hover,
  &:focus {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba($basic-white, 0.3);
  }

  &--altcolor {
    color: $special-dark-grey;
    background-color: $basic-grey;
  }

  &--altcolor:hover,
  &--altcolor:focus {
    background-color: $special-grey-2x;
  }

  &--altcolor:active {
    background-color: $special-grey-2x;
    color: rgba($special-dark-grey, 0.3);
  }
}
