.button {
  display: block;
  font-family: $font-alt;
  color: $basic-white;
  background-color: $basic-green;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;

  padding: 7px 12px;

  &--altcolor {
    color: $special-dark-grey;
    background-color: $basic-grey;
  }
}
