.catalog {
  @include wide-wrapper;
}

.catalog__item {
  @include common-wrapper;
  padding-top: 20px;
  padding-bottom: 25px;
}

.catalog__more-title {
  font-family: $font-alt;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-very-dark-grey;
}

.catalog__more-text {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}
