.catalog {
  border-top: 1px solid $special-grey-2x;

  @media (min-width: $tablet-min-width) {
    border-top: none;
  }
}

.catalog__title {
  @include common-wrapper;
}

.catalog__list {
  list-style: none;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;

  padding: 0 0 20px;
  border-bottom: 1px solid $special-grey-2x;

  @media (min-width: $tablet-min-width) {
    @include common-wrapper;

    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 59px;

    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}

.catalog__item {
  padding: 20px 0 0;
  border-top: 1px solid $special-grey-2x;
  display: flex;

  @media (min-width: $tablet-min-width) {
    padding: 0;
    border-top: none;
  }
}

.catalog__more {
  @include common-wrapper;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    box-sizing: border-box;
    border: solid 1px $basic-grey;
    margin-top: 81px;
    padding: 0 36px 39px;
    width: 324px;
  }

  @media (min-width: $desktop-min-width) {
    width: 245px;
  }
}

.catalog__more-plus {
  margin-bottom: 23px;

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 161px;
    margin-bottom: 0;
  }
}

.catalog__more-plus img {
  height: auto;
  fill: $special-grey;

  @media (min-width: $tablet-min-width) {
    width: 60px;
  }
}

.catalog__more-title {
  font-family: $font-alt;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $special-very-dark-grey;
  margin: 0;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 140px;
    margin-bottom: 23px;
  }
}

.catalog__more-text {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  text-align: center;
  margin: 8px 0 21px;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 175px;
    margin: 0 0 auto;
  }
}
