.catalog-extra {
  @include common-wrapper;

  padding-top: 28px;
  padding-bottom: 35px;

  @media (min-width: $tablet-min-width) {
    padding-top: 66px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 76px;
    padding-bottom: 86px;
  }
}

.catalog-extra__inner {
  padding-top: 32px;

  @media (min-width: $tablet-min-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 79px;
    display: flex;
    align-items: flex-start;
  }
}

.catalog-extra__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;

  @media (min-width: $tablet-min-width) {
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-min-width) {
    border: none;
  }
}

.catalog-extra__item {
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }
}

.catalog-extra__gift {
  margin-top: 39px;

  @media (min-width: $tablet-min-width) {
    margin-top: 68px;
  }

  @media (min-width: $desktop-min-width) {
    width: 245px;
    margin-left: 79px;
    margin-top: 0;
  }
}
