.checkbox {
  display: block;
  position: relative;
  color: $basic-black;
  padding: 6px 0 6px 46px;

  @media (min-width: $tablet-min-width) {
    padding-left: 59px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border: 1px solid $special-grey;
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-min-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.checkbox:hover::before,
.checkbox:focus::before,
.checkbox:active::before {
  border-color: $special-grey-3;
}

.checkbox:active {
  opacity: 0.3;
}

input:checked + .checkbox::before {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-tick.svg");
  background-size: 18px 14px;
}
