.contacts {
  background-color: $basic-grey;
  position: relative;
}

.contacts--index {
  background-color: $basic-white;
}

.contacts__info-wrapper {
  @include common-wrapper;
}

.contacts__info {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top: 28px;
  min-height: 114px;

  @media (min-width: $tablet-min-width) {
    padding: 64px 42px 57px 41px;
  }

  @media (min-width: $desktop-min-width) {
    width: 571px;
    min-height: 201px;
    padding: 64px 85px 51px 76px;
    background-color: $basic-white;

    position: absolute;
    z-index: 1;
    top: 95px;
  }
}

.contacts__title {
  font-family: $font-alt;
  color: $special-very-dark-grey;
  text-transform: uppercase;
  font-weight: normal;
  box-sizing: border-box;
  padding-right: 10px;

  margin: 0;
  width: 140px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-min-width) {
    padding: 3px 0 0;
    width: 180px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 2px 0 0;
    line-height: 25px;
  }
}

.contacts__address {
  font-style: normal;

  box-sizing: border-box;
  line-height: 20px;
  width: 140px;

  @media (min-width: $tablet-min-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
  }

  @media (min-width: $desktop-min-width) {
    text-align: left;
  }
}

.contacts__address p {
  margin: 0;
}

.contacts__address p ~ p {
  @media (min-width: $tablet-min-width) {
    margin-top: 20px;
  }
}


.contacts__map {
  position: relative;
  background-color: $basic-grey;
  background-repeat: no-repeat;
  background-position: center;

  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px auto;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }


  @media (min-width: $tablet-min-width) {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: 767px auto;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-min-width) {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 1440px auto;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/map-pin.png");
    background-size: contain;
    background-repeat: no-repeat;

    width: 57px;
    height: 53px;
    top: 139px;
    left: calc(50% - 26px);

    @media (min-width: $tablet-min-width) {
      width: 113px;
      height: 106px;
      top: 146px;
      left: calc(50% - 51px);
    }

    @media (min-width: $desktop-min-width) {
      top: 131px;
      left: calc(50% + 188px);
    }
  }
}
