.example {
  position: relative;
  overflow: hidden;
  padding: 2px 0 0;

  @media (max-width: $mobile-max-width) {
    background-color: $special-grey-2x;
  }

  @media (min-width: $tablet-min-width) {
    border-top: 1px solid $special-grey;
  }

  @media (min-width: $desktop-min-width) {
    border-top: none;
  }
}

.example__title {
  @include common-wrapper;
}

.example__inner {
  @media (min-width: $tablet-min-width) {
    background: linear-gradient(to top, $basic-grey, $basic-grey 462px, $transparent 462px, $transparent);
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 36px;
    background: $basic-grey;
  }
}

.example__inner-wrapper {
  @include common-wrapper;

  @media (min-width: $desktop-min-width) {
    padding-right: $desktop-content-width - 440px;
    padding-top: 70px;
    min-height: 462px;
  }
}

.example__text {
  padding: 0 5px 0 0;
  margin: 10px 0 25px;

  @media (min-width: $tablet-min-width) {
    margin: 24px 0 54px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 69px;
  }
}

.example__info-set {
  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-min-width) {
    display: block;
  }
}

.example__info-list {
  margin: 0;
  display: flex;
  align-items: top;
  justify-content: space-between;

  @media (min-width: $tablet-min-width) {
    justify-content: flex-start;
  }
}

.example__info {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  align-items: center;

  width: 124px;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    width: 162px;
    margin-right: 42px;
  }
}

.example__info-value {
  font-family: $font-alt;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $special-grey;
  border-radius: 3px;

  font-size: 24px;
  line-height: 24px;
  width: 124px;
  padding: 13px 10px 17px;

  @media (min-width: $tablet-min-width) {
    font-size: 30px;
    line-height: 30px;
    width: 162px;
    padding: 15px 10px 20px;
  }
}

.example__info-description {
  width: 87px;

  box-sizing: border-box;
  margin: 0;
  text-transform: lowercase;

  font-size: 12px;
  line-height: 12px;
  padding: 0 5px;
  background-color: $special-grey-2x;
  transform: translateY(-9px);

  @media (min-width: $tablet-min-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 0 8px;
    width: auto;
    max-width: 160px;
    background: $basic-white;
  }

  @media (min-width: $desktop-min-width) {
    background: $basic-grey;
  }
}

.example__expences {
  margin: 0;
  font-family: $font-alt;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  text-align: center;
  padding: 10px 5px 0;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-min-width) {
    display: block;
    text-align: left;
    padding: 55px 0 0;
  }
}

.example__expences dt {
  display: inline;
  padding: 0;
}

.example__expences dd {
  display: inline;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-min-width) {
    margin-left: 63px;
  }
}

.example__preview {
  padding: 34px 0 0;

  @media (min-width: $desktop-min-width) {
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
  }
}

.example__preview-image-container {
  --image-width: 320px;
  width: 320px;
  height: 240px;
  position: relative;
  margin-left: -20px;

  @media (min-width: $tablet-min-width) {
    margin-left: auto;
    margin-right: auto;
    --image-width: 690px;
    width: 690px;
    height: 517px;
  }
}

.example__preview-image {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 0;
  height: inherit;
  overflow: hidden;
}

.example__preview-image--before {
  left: 0;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    width: 50%;
  }
}

.example__preview-image--after {
  right: 0;
  width: 0;

  @media (min-width: $tablet-min-width) {
    width: 50%;
  }
}

.example__preview-image img {
  max-width: none;
  width: var(--image-width);
  height: inherit;
  position: absolute;
  top: 0;
}

.example__preview-image--before img {
  left: 0;
}

.example__preview-image--after img {
  right: 0;
}

.example__preview-control {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  padding: 32px 10px 36px;
  grid-column-gap: 8px;

  @media (min-width: $tablet-min-width) {
    padding: 15px 10px 67px;
  }
}

.example__preview-control-button {
  font-family: $font-alt;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  color: $basic-black;
  padding: 0;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

.example__preview-control-button--before {
  justify-self: end;
}

.example__preview-control-button--after {
  justify-self: start;
}

.example__preview-control-bar {
  box-sizing: border-box;
  position: relative;
  padding: 0 6px;
  border-radius: 6px;

  margin: 0 10px;
  width: 84px;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-min-width) {
    margin: 0 20px;
    width: 428px;
    height: 6px;
    background: #dcdcdc;
    border: none;
  }
}

.example__preview-control-pin {
  position: absolute;
  box-sizing: border-box;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;

  left: 0;

  &--after {
    left: auto;
    right: 0;
  }

  @media (min-width: $tablet-min-width) {
    width: 34px;
    height: 34px;
    margin: -17px 0 0;
    background-color: $basic-white;
    border-radius: 50%;
    border: 1px solid $special-grey;
    transform: translateX(-50%);

    left: 50%;

    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover,
    &:focus {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border-color: $basic-green;
    }

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      margin: -4px;
      border-radius: 50%;
      background-color: $basic-green;
      position: absolute;
      left: 16px;
      top: 16px;
    }
  }
}
