.extra-product-card {
  padding: 13px 0 17px;

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 26px 37px 28px;
  }

  @media (min-width: $desktop-min-width) {
    align-items: center;
    padding: 15px 1px 16px;
  }
}

.extra-product-card__title {
  font-family: $font-alt;
  font-weight: normal;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  font-size: 16px;
  line-height: 16px;
  margin: 0 0 13px;
  padding-left: 1px;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    max-width: 270px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 300px;
  }
}

.extra-product-card__price {
  color: $special-dark-grey;
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 14px;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 3px -1px 0 0;
    max-width: 310px;
  }

  @media (min-width: $desktop-min-width) {
    width: 303px;
    margin: 8px 22px 0 auto;
  }
}

.extra-product-card__price dd {
  margin: 0;
  flex-shrink: 0;

  @media (min-width: $tablet-min-width) {
    margin-left: 34px;
    width: 60px;
    text-align: right;
  }

  @media (min-width: $desktop-min-width) {
    text-align: left;
  }
}

.extra-product-card__button {
  width: 100%;

  @media (min-width: $tablet-min-width) {
    margin-top: 23px;
    padding-top: 9px;
  }

  @media (min-width: $desktop-min-width) {
    width: 244px;
    margin-top: 0;
    padding-top: 11px;
  }
}
