.input {
  box-sizing: border-box;
  font-family: $font-alt;
  color: $special-dark-grey;
  border: 1px solid $special-grey-2x;
  text-transform: uppercase;
  position: relative;
  min-width: 10px;
  outline: none;
  box-shadow: none;

  font-size: 16px;
  line-height: 18px;
  padding: 13px 10px 12px 14px;

  &::placeholder {
    color: $special-dark-grey;
    opacity: 1;
  }

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
  }


  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: $special-dark-grey;
    border-width: 2px;
    padding: 9px 18px;
  }

  &--invalid,
  &:focus:invalid {
    border-color: $status-error;
    border-width: 2px;
    padding: 9px 18px;
  }

  &[class*=" input--icon-"] {
    padding-right: 45px;
    background-repeat: no-repeat;
  }

  &--icon-email {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 13px;

    background-position: calc(100% - 15px) center;

    @media (min-width: $tablet-min-width) {
      background-position: calc(100% - 19px) center;
    }
  }

  &--icon-email:focus {
    background-image: url("../img/icon-mail-active.svg");
  }

  &--icon-email:focus:invalid {
    background-image: url("../img/icon-mail-error.svg");
  }

  &--icon-phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 20px;

    background-position: calc(100% - 13px) center;

    @media (min-width: $tablet-min-width) {
      background-position: calc(100% - 17px) center;
    }
  }

  &--icon-phone:focus {
    background-image: url("../img/icon-phone-active.svg");
  }

  &--icon-phone:focus:invalid {
    background-image: url("../img/icon-phone-error.svg");
  }
}
