.main-header {
  padding: 0;

  @media (min-width: $tablet-min-width) {
    @include common-wrapper;
    padding: 24px 0 32px;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-min-width) {
    padding: 53px 0 32px;
  }
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $mobile-max-width) {
    @include common-wrapper;
    padding: 11px 0 17px;
  }
}

.main-header__menu-button {
  @media (min-width: $tablet-min-width) {
    display: none;
  }
}
