.main-footer {
  background-color: $basic-grey;
}

.main-footer__bottom {
  @include common-wrapper;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 54px 0 61px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 57px 0 58px;
  }
}

.main-footer__bottom svg {
  display: block;
}

.main-footer__logo {
  display: flex;
  justify-content: center;

  padding: 39px 0 31px;
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet-min-width) {
    padding: 1px 0 0;
    border-bottom: none;
  }
}

.main-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 23px 11px 21px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet-min-width) {
    border-bottom: none;
    padding: 0 0 2px 16px;
  }
}

.main-footer__social-item {
  margin: 0 19px;

  @media (min-width: $tablet-min-width) {
    margin: 0 14px;

    &--vk svg {
      width: 30px;
      height: 22px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 13px;
      height: 27px;
    }
  }
}

.main-footer__logo a:hover,
.main-footer__logo a:focus {
  opacity: 0.8;
}

.main-footer__logo a:active {
  opacity: 0.6;
}

.main-footer__link {
  display: block;
  fill: $special-grey-2;
  color: $special-dark-grey;
}

.main-footer__link:hover,
.main-footer__link:focus {
  fill: $basic-green;
}

.main-footer__link:active {
  fill: $basic-green;
  opacity: 0.3;
}

.main-footer__academy {
  font-size: 16px;
  line-height: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 0;

  @media (min-width: $tablet-min-width) {
    justify-content: flex-end;
    margin: 0;
    padding-right: 1px;

    & svg {
      margin-left: 23px;
    }
  }
}
