.main-header {
  padding: 0;

  @media (min-width: $tablet-min-width) {
    @include common-wrapper;
    padding: 24px 0 32px;

    display: flex;
    justify-content: space-between;
    align-items: bottom;
  }

  @media (min-width: $desktop-min-width) {
    padding: 53px 0 32px;
  }
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-max-width) {
    @include common-wrapper;
    height: 65px;
    padding: 11px 0 17px;
  }
}

.main-header__logo-image {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image img {
  display: block;

  @media (min-width: $tablet-min-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-min-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__menu-button {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;

    display: block;
    position: absolute;
    left: 4px;
    top: 7px;

    box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
  }

  &--open {
    &::before,
    &::after {
      content: "";
      width: 25px;
      height: 1.5px;
      background-color: $basic-black;
      display: block;
      position: absolute;
      box-shadow: none;
      left: 3px;
      top: 15px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--no-js {
    display: none;
  }

  @media (min-width: $tablet-min-width) {
    display: none;
  }
}
