@mixin order-form-padding {
  @media (min-width: $tablet-min-width) {
    padding: 0 37px 0 40px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0;
  }
}

.order-form {
  font-family: $font-alt;
  color: $basic-black;

  border-top: 1px solid $special-grey-2x;
  font-size: 16px;
  line-height: 18px;
  padding: 0 0 32px;

  @media (min-width: $tablet-min-width) {
    border-top: none;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 82px;
  }
}

.order-form__title {
  @include common-wrapper;
  margin-bottom: 12px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 17px;
  }
}

.order-form__wrapper {
  @include common-wrapper;
  @include order-form-padding;
}

.order-form__text {
  text-transform: uppercase;

  font-size: 14px;
  line-height: 18px;
  max-width: 230px;
  margin: 0;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 330px;
  }
}

.order-form__common {
  @include order-form-padding;

  margin-top: 39px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 23px;

  @media (min-width: $tablet-min-width) {
    @include common-wrapper;

    grid-row-gap: 72px;
    margin-top: 65px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 570px 570px;
    grid-column-gap: 80px;
    margin-bottom: 69px;
  }
}

.order-form__fieldset {
  color: $special-dark-grey;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;

  &--border {
    padding: 20px 0 22px;
    border-top: 1px solid $special-grey-2x;
    border-bottom: 1px solid $special-grey-2x;

    @media (min-width: $tablet-min-width) {
      border: 1px solid $special-grey-2x;
      padding: 24px 28px;
    }

    @media (min-width: $desktop-min-width) {
      padding: 24px 27px;
    }
  }

  &--titled {
    margin-top: 26px;
  }
}

.order-form__fieldset-legend {
  @include common-wrapper;
  text-transform: none;
  padding-bottom: 32px;

  @media (min-width: $tablet-min-width) {
    padding-left: 2px;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 0;
  }
}

.order-form__fieldset-legend br {
  @media (min-width: $tablet-min-width) {
    display: none;
  }
}

.order-form__fieldlist {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media (max-width: $mobile-max-width) {
    @include common-wrapper;
  }


  &--not-wrapped {
    @include common-wrapper;
    @include order-form-padding;
  }

  &--text-inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 14px;

    @media (min-width: $tablet-min-width) {
      grid-row-gap: 20px;
    }

    @media (min-width: $desktop-min-width) {
      grid-template-columns: repeat(auto-fill, 570px);
      grid-column-gap: 80px;
    }
  }

  &--radiobuttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;

    @media (min-width: $tablet-min-width) {
      grid-row-gap: 13px;
    }
  }

  &--checkboxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
    margin-top: 3px;

    @media (min-width: $tablet-min-width) {
      grid-template-columns: 284px 289px;
      grid-row-gap: 30px;
      grid-column-gap: 60px;
    }

    @media (min-width: $desktop-min-width) {
      grid-template-columns: repeat(4, 245px);
      grid-column-gap: 80px;
    }
  }
}

.order-form__contacts {
  @media (min-width: $tablet-min-width) {
    padding-top: 44px;
    padding-bottom: 39px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 41px;
  }
}

.order-form__comment {
  @media (min-width: $tablet-min-width) {
    padding-top: 44px;
    padding-bottom: 33px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 35px;
  }
}

.order-form__extra {
  @media (min-width: $tablet-min-width) {
    padding-top: 22px;
  }
}

.order-form__fieldlist-item {
  min-width: 0;
}

.order-form__label {
  display: flex;
  align-items: baseline;

  @media (min-width: $desktop-min-width) {
    width: 570px;
  }
}

.order-form__input {
  flex-grow: 1;
  margin-left: 14px;

  @media (min-width: $tablet-min-width) {
    margin-left: 18px;
  }
}

.order-form__textarea {
  width: 100%;
  height: 150px;
  margin-top: 3px;
  margin-bottom: -2px;

  @media (min-width: $tablet-min-width) {
    height: 174px;
    margin: 0;
  }
}

.order-form__footer {
  @include common-wrapper;
  @include order-form-padding;

  padding: 35px 0 0;

  @media (min-width: $tablet-min-width) {
    padding-top: 52px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 59px;
  }
}

.order-form__button {
  width: 100%;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 15px;

    width: 282px;
    margin-right: 61px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-min-width) {
    width: 568px;
    margin-right: 80px;
  }
}

.order-form__remark {
  font-family: $font-base;
  font-size: 14px;
  line-height: 16px;
  margin: 21px 0 0;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 3px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 0 0 0 1px;
  }
}
