.product-card {
  @include common-wrapper;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-min-width) {
    background: linear-gradient(to bottom, $transparent, $transparent 64px, $basic-grey 64px, $basic-grey);
    box-sizing: border-box;
    padding: 0 37px 42px;
    width: 324px;
  }

  @media (min-width: $desktop-min-width) {
    background: linear-gradient(to bottom, $transparent, $transparent 72px, $basic-grey 72px, $basic-grey);
    width: 245px;
    padding: 0 38px 40px 39px;
  }
}

.product-card__main {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;

  @media (min-width: $tablet-min-width) {
    display: block;
    padding-bottom: 31px;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 33px;
  }
}

.product-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  height: 108px;
  width: 50%;

  @media (min-width: $tablet-min-width) {
    height: 200px;
    width: 100%;
  }
}

.product-card__image img {
  display: block;
  max-width: none;
  height: auto;

  @media (min-width: $tablet-min-width) {
    width: 324px;
  }

  @media (min-width: $desktop-min-width) {
    width: 245px;
  }
}

.product-card__info {
  width: 50%;

  @media (min-width: $tablet-min-width) {
    width: 100%;
  }
}

.product-card__title {
  font-family: $font-alt;
  font-weight: normal;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  max-width: 80px;
  padding-bottom: 14px;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 34px 0 16px 4px;
    line-height: 22px;
  }
}

.product-card__description {
  margin: 0;
}

.product-card__description-line {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  @media (min-width: $tablet-min-width) {
    border-bottom: 1px solid $special-grey;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 8px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 8px 0 7px;
  }
}

.product-card__description-line dd {
  margin: 0 -1px 0 0;
}

.product-card__description-line:first-child dd {
  margin-right: 2px;
}

.product-card__button {
  width: 100%;
}
