.product-card__title {
  font-family: $font-alt;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.product-card__info {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}
