.promo {
  font-family: $font-alt;
  color: $basic-white;

  @media (min-width: $tablet-min-width) {
    color: $basic-black;
    padding-top: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    min-width: $mobile-full-width;
    width: 100%;
    height: 305px;

    background-color: $promo-cat-background;
    background-size: 320px auto;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: $tablet-min-width) {
      display: none;
    }

    @media (min-width: $desktop-min-width) {
      display: block;
      width: 50%;
      height: 696px;
      top: -2px;
      left: 50%;
      background-size: 720px auto;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: left top;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.promo__inner {
  @include common-wrapper;
  padding: 27px 0 50px;
  box-sizing: border-box;
  position: relative;

  min-height: 480px;

  background-size: 280px auto;
  background-image: url("../img/index-can-mobile@1x.png");
  background-position: center calc(100% - 43px);
  background-repeat: no-repeat;

  text-align: center;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }

  @media (min-width: $tablet-min-width) {
    min-height: 842px;
    padding: 32px 193px 500px 82px;
    background-size: 709px auto;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center bottom;
    text-align: left;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-min-width) {
    min-height: 585px;
    padding: 82px 700px 0 75px;
    background-size: 552px auto;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 448px top;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0 5px;

  @media (min-width: $tablet-min-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 5px;
  margin: 25px 0 0;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 42px 0 48px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 40px 0 52px;
  }
}

.promo__button {
  font-size: 14px;

  @media (max-width: $mobile-max-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 24px;
    width: 244px;
    padding: 15px 12px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: 5px;
  }
}
