.radio {
  display: block;
  position: relative;
  color: $special-dark-grey-2;
  padding: 6px 0 4px 46px;

  @media (min-width: $tablet-min-width) {
    padding-left: 60px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border: 1px solid $special-grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-min-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.radio:hover::before,
.radio:focus::before,
.radio:active::before {
  border-color: $special-grey-3;
}

.radio:active {
  opacity: 0.3;
}

input:checked + .radio::before {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-cat-ellipse.svg");
  background-size: 14px 14px;

  @media (min-width: $tablet-min-width) {
    background-size: 18px 18px;
  }
}
