.title-with-line {
/*  width: fit-content;*/

  font-family: $font-alt;
  font-weight: normal;
  color: $basic-black;

  @media (min-width: $tablet-min-width) {
  }

  @media (min-width: $desktop-min-width) {

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      height: 2px;
      background-color: $basic-green;

      margin-top: 25px;
      left: 0;
      width: calc(50% - #{$desktop-content-width / 2 + 40px});
    }
  }
}

.title-with-line__title {
  display: block;
  width: fit-content;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  background-color: $basic-white;
  padding: 0 22px 0 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    height: 2px;
    background-color: $basic-green;

    left: calc(50vw - #{$mobile-content-width / 2});
    right: 0;
    margin-top: 15px;
  }

  @media (min-width: $tablet-min-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;

    &::before {
      margin-top: 25px;
      left: 0;
    }
  }

  @media (min-width: $desktop-min-width) {
    padding: 0 40px 0 0;

    &::before {
      left: calc(50% - #{$desktop-content-width / 2});
    }
  }
}
