.title-with-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;

  font-family: $font-alt;
  font-weight: normal;
  color: $basic-black;

  @media (min-width: $desktop-min-width) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      height: 2px;
      background-color: $basic-green;

      top: 22px;
      left: calc(50% - 50vw);
      right: calc(100% + 40px);
    }
  }
}

.title-with-line__title {
  display: block;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  background-color: $basic-white;
  padding: 0 22px 0 0;

  width: available;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    height: 2px;
    background-color: $basic-green;

    top: 15px;
    left: 0;
    right: calc(50% - 50vw);
  }

  @media (min-width: $tablet-min-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 37px;

    &::before {
      top: 22px;
      left: calc(50% - 50vw);
    }
  }

  @media (min-width: $desktop-min-width) {
    padding: 0 40px 0 0;

    &::before {
      left: 0;
    }
  }
}
